body {
	padding-top: 1em;
	height: 100%;
	overflow-y: scroll;
}


ul.side-nav.fixed {
	overflow: auto;
}

ul.side-nav.fixed::-webkit-scrollbar {
	width: 0 !important;
}
.search {
	margin-top: 5em;
	margin-bottom: 2em;
}


label {
	margin-top: -0.3em;
}

label.active {
	margin-top: 5.3em;
}

#close {
	margin-top: 0.20em;
}

.logo {
	text-align: center;
	margin-top: 1em;
}

#powerlogo {
	color: #006699;
	z-index: 1;
	font-weight: bold;
	padding-left: 16px;
	margin-top: -1em;
}

#humanityimg {
	z-index: -1;
	margin: 1em 1em 0;
	max-width: 50%;
}

#powerstuff{
	display: inline;
}

#blog-content {
	color: black;
}

.card .card-title {
	font-size: 0.8em;
}

.card .card-content {
	font-size: 1em;
	color: #006699;
}

#blogsheading {
	color: #006699;
	font-weight: bold;
	margin-bottom: -0.5em;
}

#card-read-more {
	text-align: right;
	color: #006699;
}

#card-date {
	text-align: left;
	color: #006699;
	margin-top: -1.7em;
	padding-bottom: 2em;
	position: absolute;
}

#blog-image {
	margin-right: -1em;
	height: 16em;
}

.card .card-action {
	padding: 0 20px 0 0;
}

li h5 {
	padding-bottom: 0em;
}

.microsoft .marquee {
	padding: 0 1em;
	margin: 0;
}
.marquee {
    top: 6em;
    position: relative;
    box-sizing: border-box;
    animation: marquee 15s linear infinite;
}

.marquee:hover {
    animation-play-state: paused;
}

/* Make it move! */
@keyframes marquee {
    0%   { top:   12em }
    100% { top: -16em }
}

#latest-news {
	text-align: center;
	margin-right: 0.5em;
}

#button {
	padding-top: 2em;
}
/*CSS for pushpin*/



.tabs-wrapper li {
	padding-bottom: 1em;
}

.pin-top {
	position: fixed;
}

.pin-bottom {
	position: relative;
}

.pinned {
	position: fixed !important;
}

.tabs-wrapper {
	color: #006699;
}
